#root{
  display: flex;
  justify-content: center;
  
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}
.headerProfile-img{
  flex:2;
 
}
.headerProfile-content{
  flex:1;
  max-width: 600px;
  
}
.headerProfileContent-follow{
  display: flex;
 
  justify-content: space-between;
  
  

  
}
.mdl-button--raised.mdl-button--colored {
  top:150px
}

.headerProfileContent-imgProfile{
  border-color: #c1d6f3;
  border-radius: 100%;
  width: 200px;
  height:200px ;
  object-fit: cover;
  
  


  /* background-color: #ddd;
  border-radius: 100%;
  height: 200px;
  object-fit: cover;
  width: 200px;  */
}


.headerProfileContent-containerInfo{
  display: flex;
  flex-direction: column;
}

.headerProfileContent-name{
  margin-top: 5px;
  padding: 5px;
  line-height: 35px;
  color: #0D2E5C;
  font-weight: bold;
  font-family: Podkova;
  font-size: 40px;
}
.headerProfileContent-user{
  margin-top: 5px;
  padding: 5px;
  color: #425776;
  font-weight: bold;
  font-family: Podkova;
  font-size: 15px
}
.headerProfileContent-description{
  margin-top: 5px;
  padding: 5px;
  color: #00050c;
  font-weight: bold;
  font-family: Podkova;
  font-size: 25px
}

#btn-seguir:hover{
    
  background-color: #1f5cb3;
}


/* Resposividade */
@media only screen and (max-width: 560px) {


  .headerProfileContent-follow {
    display: flex;
    flex-direction: column;
    
  }
  #btn-seguir{
    top:0;
    margin-top: 25px;
  }

  #btn-seguir:hover{
    
    background-color: #1f5cb3;
  }
}




/* STYLE PUBLICAÇÃO */
aside{
  background-color: #1f5cb3;
  flex:1;
}
main{
  background-color: #69f270;
  
}
h1{
  color:white;
  font-family: Podkova;
}
#btn-seguir{
  display: none;

}
.btn-curtir{
  background-color: #1f5cb3;
  border-radius: 25px;
  color: aliceblue;
  padding: 5px;
  border: 0;
  font-size: 15px;
}
.btn-curtir:hover{
  background-color: #74a4e8;
}
.btn-live{
  background-color: #13c61c;
  border-radius: 25px;
  color: aliceblue;
  padding: 5px;
  border: 0;
  font-size: 15px;
  width: 100px;
}
.btn-live:hover{
  background-color: #2b592e;
}

.container{
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
 
  
  
}




.container-feed{
  max-width: 50%;
  flex:2;
  
  
}
.container-header{
  width: 100%;
  border-bottom: solid 1px white;
  
}

.contente1{
  padding: 20px;
  margin:10px;
  width: 100%;
  font-size: 30px;
  border-radius: 10px;
  border: solid 1px #1f5cb3;
  background-color: rgb(230, 234, 252);
  

  
}

.titulo{
  display: flex;
  justify-content: space-between;
  
  margin-bottom: 25px;
 
}

.conteudoPublicação{
  display: flex;
  justify-content: space-between;
  overflow: hidden;
	overflow-wrap: break-word;
}

.container-input{
  display: flex;
  justify-content: center;
}

.input-publicação{
  
  width: 50%;
  border-radius: 15px;
  border: 0;
  height: 30px;
  
  margin-right: 5px;
}
