body {} 

.modal {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;  
  background-color: rgba(0,0,0,0.7);
  
}

.modal--open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__container {
  background-color: #fff;
  max-width: 400px;
  border-radius: 6px;
  border: 1px solid rgb(0, 0, 0);
 
  
}

.modal__header {
  padding: 1em;
  background-color: cornflowerblue;
  
}

.modal__title {
  font-size: 18px;
}

.modal__content {
  padding: 1em;
}

.modal__footer {
  padding: 1em;
  background-color: rgba(0,0,0,0.05)
}

.modal__footer {
  display: flex;
  justify-content: flex-end;
}

.modal__btn-cancel,
.modal__btn-delete {
  text-transform: uppercase;
  padding: 0.5em 1em;
  border: none;
  color: #fff;
  background-color: rgba(0,0,0,0.5);
  border-radius: 3px;
  margin-left: 0.5em;
}

.modal__btn-delete {
  background-color: red;
}
#aqui{
  background-color: #c3dafa;
  
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
  color:black;
}

#sair{
padding: 10px;
border-radius: 10px;
background-color: rgb(225, 14, 14);
margin: 40px;
color: white;
text-align: center;

}
#sair:hover{
  background-color: rgb(158, 14, 14);

}
.titulo-pagina{
  padding:10px;
  background-color: aliceblue;
  color: #2359a3;
  margin-left: 40%;
  font-family: Podkova ;
  border-radius: 5px;
  /* font-weight: bold; */
  
}

.profile__container{
  margin: 50px;
}



@media only screen and (max-width: 530px) {
 
  .titulo-pagina{
    display: none;
  }
}
