.profile__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 300px;
    height: 680px;
    background: #88C6FF;
    flex-direction: column;
    }
    
img{
    max-width: 200px;
    border-radius: 50%;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.profile__image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem 0;
}
.profile__button{
    text-decoration: none;
    background: #002241;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0.4rem 1rem;
    margin-bottom: 3rem;
}
.profile__button:last-of-type{
    background: #ae0000;

}