.profile__container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 290px;
    height: 540px;
    background: #88C6FF;
    flex-direction: column;
    }
    
img{
    max-width: 180px;
    border-radius: 50%;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.profile__image{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem 0;
}
.profile__button{
    text-decoration: none;
    background: #002241;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    padding: 0.4rem 1rem;
    margin-bottom: 3rem;
    font-size: larger;
    
}

#delete:hover{
    background-color: #cf0c0c;
}

.profile__button:hover{
    background-color: rgb(94, 94, 126);
}
.profile__button:last-of-type{
    background: #ae0000;

}

.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
    color:black;
  }
  #sair{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(225, 14, 14);
    margin: 40px;
    color: white;
    text-align: center;
    
  }
  #sair:hover{
      background-color: rgb(158, 14, 14);
  
  }