

.content-menu-item{
    width: auto;
    max-height: 35px;
    background-color: aliceblue;
    border-radius: 5px;
    
    
  }
  
  
  .mdl-layout__header-row .mdl-navigation {
    max-height: 35px;
  }
  
  .mdl-layout__header-row .mdl-navigation__link  {
    color: #0D2E5C;
    font-weight: bold;
   
  }
  
  .mdl-navigation__link:hover{
    color: #60B2FF;
  }
  

  a{
    text-decoration:none;
  }

  #login{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  
    
  }
  
  .centralizar{
    width: fit-content;
    margin: 20px auto;
    padding: 20px;
    background-color: aliceblue;  
    border-radius: 10px;
    box-shadow: 1px 6px 17px rgb(0 0 0 / 38%);
    margin-top: 50px;
    
    

  
  }

  .container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    margin-right: 5px;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }
  .container:hover input ~ .checkmark {
    background-color: #ccc;}

    .container input:checked ~ .checkmark {
        background-color: #60B2FF;
      }
      
     
    .checkmark:after {
        content: "";
        position: absolute;
        display: none;
      }
      
     
    .container input:checked ~ .checkmark:after {
        display: block;
      }
      
      
    .container .checkmark:after {
        left: 9px;
        top: 5px;
        width: 5px;
        height: 10px;
        border: solid white;
        border-width: 0 3px 3px 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .botaoAcessar{
        padding: 5px;

      }
      
      .botaoCadastrar{
        padding: 5px;

      }
      

#btn-entrar{
  margin-top: 20px;
  background-color: #18C29C;
}
#btn-cadastrar{
  margin-top: 20px;
}
#btn-esquecer{
  margin-top: 20px;
}
#btn-cadastrar:hover{
  background-color: #1f5cb3;
}
#btn-entrar:hover{
  background-color: #12997c;
}
#btn-esquecer:hover{
  background-color:#1f5cb3;
}
#txt-lembrarSenha{
  color: #0D2E5C;
    font-weight: bold;
    
    font-size: 20px;
    margin-top: 20px;
    
}
.txtlogin{
  color: #0D2E5C;
  font-weight: bold;
 
  font-size: 20px;
  
}
.txtnovasenha{
  color: #0D2E5C;
  font-weight: bold;
  
  font-size: 20px;
  
}
.txtconfirmarsenha{
  color: #0D2E5C;
  font-weight: bold;
  
  font-size: 20px;
  
}

.ImagemBulboPerfil{
  background-color: rgba(180, 92, 92, 0);
  background-image: url("../../../assets/BulboPerfil.jpg");
  background-size: contain ;
  background-repeat: no-repeat;
  width: 600px;
  height: 160px;

  
}


.ImagemCadeado{
  background-image: url("../../../assets/cadeado (2).png");
  background-size: contain ;
  background-repeat: no-repeat;
  background-color: rgba(34, 34, 34, 0);
  width: 100px;
  height: 50px;
  margin:0;
  padding:0;
  border:0;
  
}

.DisplayFlezFormulario{
  display: flex;
  align-items:center;
  justify-content: center;
}
.mdl-layout__drawer .mdl-navigation .mdl-navigation__link{
  color:black;
}
#sair{
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(225, 14, 14);
  margin: 40px;
  color: white;
  text-align: center;
  
}
#sair:hover{
    background-color: rgb(158, 14, 14);

}


#aviso{
  display: none;
}
@media only screen and (max-width: 799px) {
  .calendario{
    display: none;

  }
  #aviso{
    display: flex;
    background-color: rgb(169, 32, 32);
    padding: 10px;
    flex-direction: column;
    height: 100%;
  }

}

.titulo-pagina{
  padding:10px;
  background-color: aliceblue;
  color: #2359a3;
  margin-left: 40%;
 
  border-radius: 5px;
  /* font-weight: bold; */
  
}

#aqui{
  background-color: #c3dafa;
  
}


@media only screen and (max-width: 530px) {
 
  .titulo-pagina{
    display: none;
  }
}



