body{
    margin:0px;
}


.div-buscar{
    margin: 15px;
}

.mdl-textfield__label {
    left: 20px;
}

.div-publicar {
  
    
    border-radius: 15px;
    box-shadow: 20px 10px 20px 2px rgb(50 50 50 / 50%);
    margin-left: 25%;
    width: 450px;
    transition: all 0.2s ease-out;
    height: 590px;
    font-size : 1vw;
    text-align: center;
    border-left: 3px solid #2b80f7;
  }
  .div-publicar:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
   
.div-cardTexto{
    width: 100%;
    height: 240px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#autor{
    margin:3%;
}
#titulo{
    margin:3%;
    font-size: 22px;
    font-style:italic;
    margin: 5px;
    height: 40px;
}

#texto{
   
    font-style:italic;
    margin: 5px;
    height: 300px;
}




.div-cardLerMais:hover{
    background-color:rgb(197, 240, 251);
}

.div-artigo {
  
    
    border-radius: 15px;
    box-shadow: 20px 10px 20px 2px rgb(50 50 50 / 50%);
    margin: 50px;
    width: 450px;
    transition: all 0.2s ease-out;
    height: 590px;
    font-size : 1vw;
    text-align: center;
    border-left: 3px solid #2e82f8;
  }
  .div-artigo:hover {
    transform: translateY(-5px);
    cursor: pointer;
  }
   