main{
  margin-top: 20px;
}
.content-menu-item{
    width: auto;
    max-height: 35px;
    background-color: aliceblue;
    border-radius: 5px;
    
    
  }
  
  
  .mdl-layout__header-row .mdl-navigation {
    max-height: 35px;
  }
  
  .mdl-layout__header-row .mdl-navigation__link  {
    color: #0D2E5C;
    font-weight: bold;
    font-family: Podkova;
  }
  
  .mdl-navigation__link:hover{
    color: #60B2FF;
  }
  
  @media only screen and (max-width: 600px) {
    .content-menu-item{
      display: none;
    }
    
  }
  
  @media only screen and (min-width: 601px) {
    .mdl-layout__drawer-button{
      display: none;
    }
    
  }
  a{
    text-decoration:none;
  }

  

body {
  font-family: "Poppins", sans-serif;
  background-color: #fafafa;
}
 
.row {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  border-radius: 5px;
  box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
  padding: 30px;
  margin: 20px;
  width: 400px;
  transition: all 0.3s ease-out;
}
.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
}
 
.card p {
  color: #a3a5ae;
  font-size: 16px;
}
 
.image {
  float: right;
  max-width: 64px;
  max-height: 64px;
}
.blue {
  border-left: 3px solid #4895ff;
}
 
.green {
  border-left: 3px solid #3bb54a;
}
 
.red {
  border-left: 3px solid #b3404a;
}

.cardscentro{
  display:flex;
  justify-content: center;
  align-items:center ;
  height: 100%;
}